echo "wurmterm rc"

[ -f ~/.bashrc ] && . ~/.bashrc

AGENT_CODE='
use strict;
use IO::Socket::UNIX qw( SOCK_STREAM SOMAXCONN );
my $socket_path = "/tmp/wt.sock";
unlink($socket_path);
my $l = IO::Socket::UNIX->new(
   Type   => SOCK_STREAM,
   Local  => $socket_path,
   Listen => SOMAXCONN,
) or die $!;
my $s = $l->accept();
print $!;
my $line;
while($line = <$s>) {
  print "Got command $line\n";
  my $d = `$line`;
  $d =~ s/\"//g;
  print $s "{ \"s\": $?, \"d\": \"$d\" }";
}
print $!;
print "WT Agent Exiting.\n";
'

# Setup SSH alias
ssh() {
   # FIXME: Permissions?
   [ -d ~/.wurmterm ] || mkdir ~/.wurmterm
   [ -d ~/.wurmterm/hosts ] || mkdir ~/.wurmterm/hosts

   # FIXME: check for non-trivial ssh that we do not want
   # to intercept. Check content of $@
   name="$@"
   # FIXME: for testing use a constant name
   name="remote"
   [ -f ~/.wurmterm/hosts/${name}.sock ] && rm -v ~/.wurmterm/hosts/${name}.sock
   /usr/bin/ssh -t -L ~/.wurmterm/hosts/${name}.sock:/tmp/wt.sock "$@" "(LC_ALL=C /usr/bin/perl -w -e '$AGENT_CODE' & ); bash -l"
}
