body {
    font-family: Helvetica;
    font-size:10pt;
    background:#444;
    color:#cce;
    margin: 0;
    padding: 0;
}

#main {
    padding:12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.emoji {
    vertical-align: middle;
}

img.emojione {
    margin: 0px !important;
    display: inline !important;
    height: auto;
}

#visualizedHost {
    font-weight: bold;
    color: white;
}
#visualContainer {
    display: none;
}
#visual {
    height: 33%;
    border: 1px solid silver;
    background: white;
    margin-bottom: 12px;
    margin-top: 6px;
}

#visual .label {
    background: white;
}

#visual .node rect {
    stroke: #999;
    fill: #fff;
    stroke-width: 1.5px;
}
#visual .edgePath path {
    stroke: #333;
    stroke-width: 1.5px;
}
#visual .local > rect {
    fill: #ffc;
    stroke-width: 2px;
}
#visual .local_unused > rect {
    fill: #fff;
    stroke-width: 2px;
}
#visual .null > rect, .null > foreignobject {
    stroke-width: 0;
}
#visual .previousNode {
    background: #ccf;
}
#visual a.resolve {
    color:brown;
    text-decoration:none;
}

.rendererForm {
    padding:12px;
    background: #eee;
    color: black;
}

#nodes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#nodes .node {
    margin-right:12px;
    margin-bottom:12px;
}

#nodes .node.disconnected {
    filter: grayscale(60%);
}
#nodes .node.disconnected .name {
    color: silver;
}
#nodes .node.disconnected .name::after {
    content: ' (disconnected)';
}

#nodes > div {
    width: 300px;
}

#nodes .node .name {
    color:white;
    font-weight:bold;
    cursor:pointer;
}

#boxes {
    clear:both;
}

.box {
    margin-bottom:2px;
    clear: both;
}

.box .head {
    background: #77A;
    position: relative;
    display: block;
    clear: both;
    cursor: pointer;
}

.box .head .reload {
    float: right;
    width: auto;
}

.box .head .reload a {
    color: #77A;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 24px;
}

.box .reload a:hover {
    color: silver;
}

.box .title {
    float: left;
    width: auto;
    color: black;
    padding: 3px;
}
.box.collapsed .title:hover {
    color: silver;
}

.box.empty .head {
    background: #557;
}

.box.severity_warning .head {
    background: #ccc;
}
.box.severity_critical .head {
    background: #ccc;
}
.box.severity_warning .emoji:before {
    content: '⚠ '
}
.box.severity_critical .emoji:before {
    content: '⚡ '
}
.box.severity_invalid .head {
    background: black;
    color: silver;
}

.box.collapsed.severity_warning .head {
    background: yellow;
}
.box.collapsed.severity_critical .head {
    background: red;
}
.box.collapsed .reload {
    display: none;
}
.box.collapsed {
    float: left;
    margin-right: 3px;
    clear: none;
}

.box .content {
    clear: both;
    padding: 3px;
    overflow-x: auto;
    border:1px solid #77A;
}

.box .content table {
    margin:0;
    padding:0;
    border-collapse: collapse;
}

.box .content table td {
    border:1px solid black;
}

span.severity_critical {
    background: red;
    color: white;
}

span.severity_warning {
    background: yellow;
    color: black;
}

.title {
    color:  white;
    margin-right: 12px;
}

#menu {
    background: #222;
    padding: 12px 6px;
}

#menu a {
    color: #AAC;
    text-decoration: none;
}
#menu a:hover {
    text-decoration: underline;
}
#menu a:active {
    color: white;
    font-weight: bold;
}

#footer {
    background: #777;
    border: 1px solid lightgray;
    padding: 12px;
    position: relative;
    bottom: 0px;
}

#history {
    margin: 3px;
    margin-block-start: 0;
    padding-inline-start: 0;
}
#history li {
    display:inline-block;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background: #ddd;
    color: black;
}
#history li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.settings h2 {
    border-bottom: 1px solid #ddd;
}

.settingsBox {
    border: 1px solid #eee;
    border-radius: 4px;
    background: #eee;
    padding: 6px; 
    margin:6px 0;
    min-height: 100px;
}