body {
    font-family: Helvetica;
    font-size:10pt;
    background:#444;
    color:#cce;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.emoji {
    vertical-align: middle;
}

img.emojione {
    margin: 0px !important;
    display: inline !important;
	        
    height: auto;
}

#nodes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.node {
    margin-right:12px;
    margin-bottom:12px;
}

.node.disconnected {
    filter: grayscale(60%);
}
.node.disconnected .name {
    color: silver;
}
.node.disconnected .name::after {
    content: ' (disconnected)';
}

#nodes > div {
    width: 300px;
}

.node .name {
    color:white;
    font-weight:bold;
}

#boxes {
    clear:both;
}

.box {
    margin-bottom:2px;
    clear: both;
}

.box .head {
    background: #77A;
    position: relative;
    display: block;
    clear: both;
    cursor: pointer;
}

.box .head .reload {
    float: right;
    width: auto;
}

.box .head .reload a {
    color: #77A;
    text-decoration: none;
    padding-right: 6px;
    padding-left: 24px;
}

.box .reload a:hover {
    color: silver;
}

.box .title {
    float: left;
    width: auto;
    color: black;
    padding: 3px;
}
.box.collapsed .title:hover {
    color: silver;
}

.box.empty .head {
    background: #557;
}

.box.severity_warning .head {
    background: #ccc;
}
.box.severity_critical .head {
    background: #ccc;
}
.box.severity_warning .emoji:before {
    content: '⚠ '
}
.box.severity_critical .emoji:before {
    content: '⚡ '
}
.box.severity_invalid .head {
    background: black;
    color: silver;
}

.box.collapsed.severity_warning .head {
    background: yellow;
}
.box.collapsed.severity_critical .head {
    background: red;
}
.box.collapsed .reload {
    display: none;
}
.box.collapsed {
    float: left;
    margin-right: 3px;
    clear: none;
}

.box .content {
    clear: both;
    padding: 3px;
    overflow-x: auto;
    border:1px solid #77A;
}

.box .content table {
    margin:0;
    padding:0;
    border-collapse: collapse;
}

.box .content table td {
    border:1px solid black;
}

span.severity_critical {
    background: red;
    color: white;
}

span.severity_warning {
    background: yellow;
    color: black;
}

#footer {
    background: #777;
    border: 1px solid lightgray;
    padding: 12px;
    position: absolute;
    bottom: 0px;
}
#history {
    margin: 3px;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.title {
    color:  white;
}
#history li {
    display:inline-block;
    padding:3px;
    margin-right:3px;
    margin-bottom:3px;
    background: #ddd;
    color: black;
}
#history li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}
